%h2 Over http
%form{:method => 'get', :action => '/h'}
  %input{:type => 'text', :name => 'data', :value => params['data']}
  %br/
  %br/
  %input{:type => 'submit', :value => 'Haminize!'}

- if @result
  %h3 result:
  = @result.inspect
  %br/

- if @time
  == time: #{@time * 1000} ms
